SPRING_PROFILES_ACTIVE=prod/dev
DB_URL=jdbc:mysql://mysql-db:3306/user_mgmt_db
DB_USERNAME=<<keep-your-username-here>>
DB_PASSWORD=<<keep-your-password-here>>
JWT_SECRET=<<keep-your-jwt-secret-key-here-atleast-32chars-long>>